body{
    
}

img{
    width: 50%;
    height: 50%;
    padding-right: 2455px;

}

ul.slider { display: none; }

.scrapBook {
    background-color: blanchedalmond;
    border: 24px;
    padding: 45px;
}
h1{
    text-align: center;
    font-family: fantasy;
}

